
body{
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 40% , #9999ff 100%);
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-family: 'Inspiration', cursive;
  font-size: 4em;
  margin-top: 0;
  background: -webkit-linear-gradient(#051937, #1b2751, #35356a, #524283, #734f9b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
}
li{
  background: -webkit-linear-gradient(#051937, #1b2751, #35356a, #524283, #734f9b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: large;
  color: white;
}

#pic{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-image: url('p6.jpg');
    background-size: cover;
    background-position: center;
  
    width: 99%;
    height: 250px;
   
}
#bord{
 
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    background-image: url('sp.jpg');
    background-size: cover;
   background-position: center;
    width: 100%;
    height: 251px;
    mix-blend-mode: screen;
   
   
}
#continer{
  
   position: absolute;
    top: 250px;
    width: 99%;
    height:470px;
     display: flex;

    flex-direction: row;
  
}
#continer .mconter{


    background-image: linear-gradient( 135deg, #ABDCFF 5%, #0396FF 100%);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
    margin: 50px;
    height: 90%;
    width: 100%;
   border-radius: 10%;
   
    
}
.td:not(#city1){
    position: absolute;
    width: 200px;
    height: 200px;
  border-bottom-right-radius: 100%;
 
   top: 0%;
   
   
}

#snow img{
   
    width: 100%;
    height: 125px;
  
   
}
#summer img{
    
  margin-left: 0%;
    width: 150px;
    height:150px;
    animation-name: suny;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
}
#sun {
  text-align: center;
    left: 33.5%;
     
  }

#snow{
    left: 0%;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
    background-position: 0px 0px;
    animation: snowing 10s linear infinite;
  }
  #snow div {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.7%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st3' cx='4' cy='14' r='1'/%3E%3Ccircle class='st3' cx='43' cy='3' r='1'/%3E%3Ccircle class='st3' cx='31' cy='30' r='2'/%3E%3Ccircle class='st3' cx='19' cy='23' r='1'/%3E%3Ccircle class='st3' cx='37' cy='22' r='1'/%3E%3Ccircle class='st3' cx='43' cy='16' r='1'/%3E%3Ccircle class='st3' cx='8' cy='45' r='1'/%3E%3Ccircle class='st3' cx='29' cy='39' r='1'/%3E%3Ccircle class='st3' cx='13' cy='37' r='1'/%3E%3Ccircle class='st3' cx='47' cy='32' r='1'/%3E%3Ccircle class='st3' cx='15' cy='4' r='2'/%3E%3Ccircle class='st3' cx='9' cy='27' r='1'/%3E%3Ccircle class='st3' cx='30' cy='9' r='1'/%3E%3Ccircle class='st3' cx='25' cy='15' r='1'/%3E%3Ccircle class='st3' cx='21' cy='45' r='2'/%3E%3Ccircle class='st3' cx='42' cy='45' r='1'/%3E%3C/svg%3E");
    background-position: 0px 0px;
    animation: snowing 15s linear infinite;}

 @keyframes snowing {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0px 300px;
    }
  }
  @keyframes suny{
   
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        
        }
      

  }
  @import url('https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans');

html #city1 {
 
 
  background-color: #D0F0FF;
}

#city1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
 position: absolute;
 left: 70%;
 top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-image: url('pngegg.png'); 
  background-position: top; 

}



.LightWaves {
  animation: lightwaves 2s infinite;
  position: relative;
}

@keyframes lightwaves {
    0%,100% { transform: translate(0,0); }
    25%     { transform: translate(5px,5px); transform: scale(1.05); }
    50%     { transform: translate(25px, 5px); }
    75%     { transform: translate(12px,10px); transform: scale(1.05); }
}

.DarkWaves {
  animation: darkwaves 3.8s infinite;
}

@keyframes darkwaves {
    0%,100% { transform: translate(0,0); }
    25%     { transform: translate(25px, 5px); transform: scale(1.05); }
    50%     { transform: translate(12px,10px); }
    75%     { transform: translate(5px,5px); }
}

.WhiteWaves {
  animation: whitewaves 4s alternate ease infinite;
}

@keyframes whitewaves {
    0% { transform: translate(0,25px); }
    100%     { transform: translate(25px,35px); }
}
label{
  margin-left: 5%;
 font-size: x-large;
}
.con{
  
  font-size: x-large;
  background: none;
  border:0;
  width: 50px;
  height: 50px;
  text-align: center;
 
}
.con:focus{
  outline: none;
}
.con:disabled{
  color: #1b2751;
}
.art{
  border-radius: 100%;
  height: 25px;
  width: 25px;
  font-size: medium;
  background-image: linear-gradient( 135deg, #43CBFF 10%, #c467e7 100%);
  color: aliceblue;
  border:1px solid #0396FF;
}
.eks{
  border-radius: 100%;
  height: 25px;
  width: 25px;
  font-size: medium;
  background-image: linear-gradient( 135deg, #43CBFF 10%, #c172dd 100%);
  color: aliceblue;
  border:1px solid #0396FF;
}
.eks:hover{
  background-image: linear-gradient( 135deg, #43CBFF 10%, #120418 100%);
  
}
.art:hover{
  background-image: linear-gradient( 135deg, #43CBFF 10%, #120418 100%);
  
}
#pi1,#pi2,#pi3{
  color: #1b2751;
  text-align: center;
  margin-left: 10%;
  height: 50px;
  width: 50px;
  font-size: x-large;
  background:none;
  color: aliceblue;
  border:1px solid #0396FF;
  border-top: none;
border-left: none;
border-right: none;
}
#pi1,#pi2,#pi3:disabled{
  color: #1b2751;
}
.st0{opacity:0.76;}
.st1{fill:url(#SVGID_1_);}
.st2{fill:url(#SVGID_2_);}
.st3{fill:url(#SVGID_3_);}
.st4{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}



.details ,.details2{
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  border-radius: 10%;
  margin-left: 150px;
  height: 60px;
  width: 100px;
  border:1px solid #0396FF;
  
}
.details:active ,.details2:active{
  
  box-shadow: 0 5px #447cec;
  transform: translateY(4px)
}
.eks:active{
  
  box-shadow: 0 5px #447cec;
  transform: translateY(4px)
}
.art:active{
  
  box-shadow: 0 5px #447cec;
  transform: translateY(4px)
}
#continer .mconter2{
  
  display: none;
  background-image: linear-gradient( 135deg, #ABDCFF 5%, #0396FF 100%);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
  margin: 50px;
  height: 90%;
  width: 100%;
 border-radius: 10%;
 z-index: 1;
  
}
